# Ignore everything in src/
src/*
# Ignore vendor directory
vendor/
# But don't ignore custom/plugins
!src/custom/
!src/custom/plugins/
!src/custom/plugins/**
plugins/DockwareSamplePlugin/
plugins/SwagPlatformDemoData/
theme/*
thumbnail/*
sitemap/*
files/*
media/*
docker-compose.override.yaml