services:
  database:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: shopware
    volumes:
      - "db_volume_guide_coolify_6731:/var/lib/mysql"

  shop:
    build: .
    container_name: shop-guid
    depends_on:
      - database

    volumes:
      # Use named volumes for persistent data
      - shop_files:/var/www/html/files
      - shop_media:/var/www/html/public/media
      - shop_thumbnail:/var/www/html/public/thumbnail
      - shop_sitemap:/var/www/html/public/sitemap

    develop:
      watch:
        - action: sync
          path: ./apps
          target: /var/www/html/custom/apps

volumes:
  db_volume_guide_coolify_6731:
    driver: local
  # Define the named volumes for files
  shop_files:
  shop_media:
  shop_thumbnail:
  shop_sitemap:
