services:
  database:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: shopware
    volumes:
      - "db_volume_guide_coolify:/var/lib/mysql"

  shop:
    build: .
    container_name: shop-guid
    depends_on:
      - database

    volumes:
      - ./.env:/var/www/html/.env
      # Keep live sync for your Shopware apps
      - ./apps:/var/www/html/custom/apps
      - ./files:/var/www/html/files
      - ./theme:/var/www/html/public/theme
      - ./media:/var/www/html/public/media
      - ./thumbnail:/var/www/html/public/thumbnail
      - ./sitemap:/var/www/html/public/sitemap

    develop:
      watch:
        - action: sync
          path: ./apps
          target: /var/www/html/custom/apps

volumes:
  db_volume_guide_coolify:
    driver: local
  # Define the named volumes for files
  shop_files:
  shop_media:
  shop_thumbnail:
  shop_sitemap:
