{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}

{# FreeThemeOne 'page/checkout/finish/finish-details.html.twig' #}

{# @TODO: #check and #refactore template... #}

{# ---------------- START: SET TEMPLATE VARS ---------------- #}
{# ---------------- END: SET TEMPLATE VARS ---------------- #}

{% block page_checkout_finish_action_back %}
    <div class="finish-back-to-shop-button">
        <a href="{{ path('frontend.home.page') }}"
           class="btn btn-primary"
           title="{{ 'freeThemeOne.checkout.finishButtonBackToShop'|trans|striptags }}">
            {{ 'freeThemeOne.checkout.finishButtonBackToShop'|trans|striptags }}
        </a>
    </div>
{% endblock %}
