{# FreeTheme "Social icon" #}
{#
    @Storefront/storefront/utilities/social-icon.html.twig
#}

{% block ft_social_icon %}
    {% if ariaHidden is not defined %}
        {% set ariaHidden = true %}
    {% endif %}

    {% apply spaceless %}
        <span class="icon ft-social-icon social-icon icon-{{ name }} icon-{{ style }}"{% if ariaHidden %} aria-hidden="true"{% endif %}>
            {% if name == "blogger" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#f38936"><path d="M32.17,16.47h-1.7a1.73,1.73,0,0,1-1.7-1.7A8.77,8.77,0,0,0,20,6H14.77A8.77,8.77,0,0,0,6,14.77V25.23A8.77,8.77,0,0,0,14.77,34H25.23A8.77,8.77,0,0,0,34,25.23V18.3A1.79,1.79,0,0,0,32.17,16.47Zm-17.53-3.4h6.28a1.7,1.7,0,1,1,0,3.4H14.64a1.7,1.7,0,1,1,0-3.4ZM25.36,26.93H14.77a1.7,1.7,0,0,1,0-3.4H25.36a1.7,1.7,0,1,1,0,3.4Z"/></g></svg>
            {% endif %}
            {# {% if name == "email" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#758ca3"><path d="M9.68,11.25l8.89,6.22a2.5,2.5,0,0,0,2.86,0l8.89-6.22ZM32.5,12.78l-9.63,6.74a5,5,0,0,1-5.74,0L7.5,12.78V27.5a1.25,1.25,0,0,0,1.25,1.25h22.5A1.25,1.25,0,0,0,32.5,27.5Zm-23.75-4h22.5A3.75,3.75,0,0,1,35,12.5v15a3.75,3.75,0,0,1-3.75,3.75H8.75A3.75,3.75,0,0,1,5,27.5v-15A3.75,3.75,0,0,1,8.75,8.75Z" fill-rule="evenodd"/></g></svg>
            {% endif %} #}
            {% if name == "facebook" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#1877f2"><path d="M26.93,21.75l.82-5.39H22.58v-3.5a2.7,2.7,0,0,1,3-2.91H28V5.36A28.91,28.91,0,0,0,23.8,5c-4.26,0-7,2.58-7,7.25v4.11H12v5.39h4.73v13a18.52,18.52,0,0,0,5.82,0v-13Z"/></g></svg>
            {% endif %}
            {% if name == "flickr" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#0063dc"><path d="m16.7 24.25a5.79 5.79 0 0 1-4.25 1.75 6 6 0 0 1-6-6 6 6 0 0 1 6-6 6 6 0 0 1 6 6 5.79 5.79 0 0 1-1.75 4.25z"/></g><g class="color3" fill="#ff0084"><path d="m31.86 24.25a6 6 0 0 1-8.49 0 5.79 5.79 0 0 1-1.75-4.25 6 6 0 0 1 6-6 6 6 0 0 1 6 6 5.8 5.8 0 0 1-1.76 4.25z"/></g></svg>
            {% endif %}
            {% if name == "instagram" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#dd2a7b"><path d="M13.41,4A9.44,9.44,0,0,0,4,13.41V26.59A9.44,9.44,0,0,0,13.41,36H26.59A9.44,9.44,0,0,0,36,26.59V13.41A9.44,9.44,0,0,0,26.59,4Zm0,2.91H26.59a6.49,6.49,0,0,1,6.5,6.5V26.59a6.49,6.49,0,0,1-6.5,6.5H13.41a6.49,6.49,0,0,1-6.5-6.5V13.41A6.49,6.49,0,0,1,13.41,6.91Zm15.18,3.18a1.32,1.32,0,1,0,1.32,1.32A1.32,1.32,0,0,0,28.59,10.09ZM20,11.27A8.73,8.73,0,1,0,28.73,20,8.76,8.76,0,0,0,20,11.27Zm0,2.91A5.82,5.82,0,1,1,14.18,20,5.8,5.8,0,0,1,20,14.18Z"/></g></svg>
            {% endif %}
            {% if name == "linkedin" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#0a66c2"><path d="M35,35H28.8V25.26c0-2.33,0-5.32-3.23-5.32s-3.74,2.53-3.74,5.15V35H15.61V15h6V17.7h.08a6.57,6.57,0,0,1,5.9-3.24c6.3,0,7.47,4.15,7.47,9.55Z"/><path d="m8.59 12.22a3.61 3.61 0 1 1 3.61-3.61 3.61 3.61 0 0 1-3.61 3.61"/><rect x="5.47" y="14.96" width="6.23" height="20.04"/></g></svg>
            {% endif %}
            {% if name == "pinterest" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#e60023"><path d="M28.73,8.07a11.5,11.5,0,0,0-8-3.07,12.63,12.63,0,0,0-9.32,3.6A10.61,10.61,0,0,0,8.21,16c0,3.34,1.4,5.91,3.74,6.86a1.28,1.28,0,0,0,.47.1,1.06,1.06,0,0,0,1-.84c.08-.3.26-1,.34-1.35a1.27,1.27,0,0,0-.34-1.37,4.35,4.35,0,0,1-1-3,7.5,7.5,0,0,1,7.77-7.55c4,0,6.5,2.28,6.5,5.95a12.41,12.41,0,0,1-1.4,6,4.17,4.17,0,0,1-3.44,2.4,2.28,2.28,0,0,1-1.81-.83,2.08,2.08,0,0,1-.36-1.81c.18-.75.42-1.54.66-2.3a14.23,14.23,0,0,0,.83-3.76,2.73,2.73,0,0,0-2.74-3c-2.09,0-3.73,2.12-3.73,4.83a7.2,7.2,0,0,0,.52,2.7c-.27,1.11-1.83,7.73-2.12,9-.18.73-1.21,6.49.5,7,1.92.51,3.64-5.1,3.81-5.73s.64-2.46.94-3.66a5.83,5.83,0,0,0,3.87,1.5,8.64,8.64,0,0,0,6.93-3.47,14,14,0,0,0,2.61-8.52A9.85,9.85,0,0,0,28.73,8.07Z"/></g></svg>
            {% endif %}
            {% if name == "tiktok" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#010101"><path d="m20.61 6h4.57a7.24 7.24 0 0 0 2 4.87 8.24 8.24 0 0 0 4.98 2.13v4.7a12.24 12.24 0 0 1-4.9-1.13 15.36 15.36 0 0 1-1.89-1.08v10.21a8.89 8.89 0 0 1-1.58 4.6 8.7 8.7 0 0 1-6.91 3.7 8.52 8.52 0 0 1-4.76-1.2 8.8 8.8 0 0 1-4.26-6.66v-1.74a8.79 8.79 0 0 1 10.14-7.81c0 1.73-0.05 3.46-0.05 5.18a4 4 0 0 0-5.11 2.48 4.41 4.41 0 0 0-0.16 1.88 4 4 0 0 0 7.32 1.47 2.75 2.75 0 0 0 0.48-1.24c0.12-2.09 0.07-4.17 0.08-6.25v-14.09z"/></g></svg>
            {% endif %}
            {% if name == "twitch" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#9146ff"><path d="M12,5l-5.7,5.7v20.6h6.8V37l5.7-5.7h4.6L33.7,21V5H12z M31.4,19.9l-4.6,4.6h-4.6l-4,4v-4h-5.2V7.3h18.3V19.9z"/><rect x="25.7" y="11.3" width="2.3" height="6.9"/><rect x="19.4" y="11.3" width="2.3" height="6.9"/></g></svg>
            {% endif %}
            {% if name == "vimeo" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#1ab7ea"><path d="M36.17,12.48q-.21,4.73-6.6,12.94Q23,34,18.4,34q-2.83,0-4.79-5.23L11,19.19Q9.54,14,7.88,14a10.08,10.08,0,0,0-2.55,1.52l-1.52-2c1.6-1.4,3.18-2.81,4.73-4.21q3.2-2.76,4.79-2.91,3.78-.36,4.66,5.17c.63,4,1.06,6.45,1.31,7.42.72,3.3,1.52,4.94,2.39,4.94q1,0,3.06-3.21a12.77,12.77,0,0,0,2.18-4.89c.19-1.84-.54-2.77-2.18-2.77a6.1,6.1,0,0,0-2.4.53Q24.74,5.79,31.47,6,36.45,6.15,36.17,12.48Z"/></g></svg>
            {% endif %}
            {# {% if name == "website" %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><g class="color1"><path d="M20,5A15,15,0,0,0,6.37,13.75H9.18a12.56,12.56,0,0,1,5.9-5.23,18,18,0,0,0-2,5.23h2.62C16.69,10,18.4,7.5,20,7.5s3.31,2.45,4.26,6.25h2.62a18,18,0,0,0-2-5.23,12.56,12.56,0,0,1,5.9,5.23h2.81A15,15,0,0,0,20,5Z" fill="#32373c"/><path d="M6.37,26.25a15,15,0,0,0,27.26,0H30.82a12.56,12.56,0,0,1-5.9,5.23,18,18,0,0,0,2-5.23H24.26c-1,3.8-2.66,6.25-4.26,6.25s-3.31-2.45-4.26-6.25H13.12a18,18,0,0,0,2,5.23,12.56,12.56,0,0,1-5.9-5.23Z" fill="#32373c"/><path d="M3.3,15.69H5.18l1.19,5.89,1.56-5.89H9.25l1.56,5.89L12,15.69h1.88l-2.3,8.62H10.13L8.59,18.5,7.07,24.31H5.59Z" fill="#32373c"/><path d="M14.71,15.69h1.87l1.2,5.89,1.56-5.89h1.31l1.56,5.89,1.21-5.89h1.87L23,24.31H21.53L20,18.5l-1.52,5.81H17Z" fill="#32373c"/><path d="M26.11,15.69H28l1.19,5.89,1.57-5.89h1.31l1.56,5.89,1.2-5.89H36.7l-2.3,8.62H32.94L31.4,18.5l-1.52,5.81H28.4Z" fill="#32373c"/></g></svg>
            {% endif %} #}
            {% if name == "whatsapp" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#25d366"><path d="m30.6 9.4c-5.7-5.7-14.9-5.7-20.5 0-4.7 4.6-5.6 11.8-2.3 17.5l-2.1 7.5 7.7-2c2.1 1.2 4.5 1.8 6.9 1.8 8 0 14.5-6.5 14.5-14.5 0.1-3.9-1.5-7.6-4.2-10.3zm-10.3 22.3c-2.2 0-4.3-0.6-6.1-1.7l-0.4-0.3-4.6 1.3 1.2-4.5-0.3-0.5c-3.6-5.5-1.9-13 3.8-16.6s13.1-1.9 16.6 3.7c3.6 5.6 1.9 13.1-3.7 16.6-2 1.3-4.2 2-6.5 2z"/><path d="m27.6 23.1c-0.1-0.1-0.3-0.2-0.7-0.4s-2.1-1.1-2.5-1.2-0.6-0.2-0.8 0.2-0.9 1.2-1.1 1.4-0.4 0.3-0.8 0.1c-1.1-0.4-2.1-1-2.9-1.8-0.8-0.7-1.5-1.6-2-2.5-0.2-0.4 0-0.6 0.2-0.7s0.4-0.4 0.5-0.6 0.3-0.4 0.4-0.6 0.1-0.4 0-0.6-0.8-2-1.1-2.7-0.6-0.6-0.8-0.6h-0.7c-0.4 0-0.7 0.2-1 0.5-0.8 0.8-1.3 1.9-1.3 3 0.1 1.4 0.6 2.7 1.5 3.8 1.6 2.3 3.7 4.2 6.2 5.5 0.7 0.3 1.4 0.5 2.1 0.8 0.7 0.2 1.5 0.3 2.3 0.1 1-0.2 1.9-0.8 2.5-1.7 0.1-0.8 0.1-1.4 0-2z"/></g></svg>
            {% endif %}
            {% if name == "wordpress" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#0073aa"><path d="M20,5.9a14,14,0,0,1,7.88,2.41A14.18,14.18,0,0,1,33,14.51a14.06,14.06,0,0,1-1.3,13.37A14.18,14.18,0,0,1,25.49,33a14.06,14.06,0,0,1-13.37-1.3A14.18,14.18,0,0,1,7,25.49a14.06,14.06,0,0,1,1.3-13.37A14.18,14.18,0,0,1,14.51,7,14,14,0,0,1,20,5.9M20,5A15,15,0,1,0,35,20,15,15,0,0,0,20,5Z"/><path d="M7.5,20a12.51,12.51,0,0,0,7.05,11.25l-6-16.34A12.55,12.55,0,0,0,7.5,20Zm20.94-.63a6.62,6.62,0,0,0-1-3.45A5.8,5.8,0,0,1,26.18,13a2.16,2.16,0,0,1,2.1-2.22h.16A12.5,12.5,0,0,0,9.56,13.13l.8,0c1.31,0,3.33-.16,3.33-.16a.52.52,0,0,1,.08,1s-.68.08-1.43.12l4.55,13.54,2.74-8.21-1.95-5.33c-.67,0-1.31-.12-1.31-.12a.52.52,0,0,1,.08-1s2.06.16,3.29.16S23.07,13,23.07,13a.52.52,0,0,1,.08,1s-.67.08-1.43.12l4.52,13.44,1.29-4.09A14.55,14.55,0,0,0,28.44,19.37Zm-8.22,1.72L16.47,32a12.48,12.48,0,0,0,7.68-.2l-.09-.17ZM31,14a10.38,10.38,0,0,1,.08,1.29,11.7,11.7,0,0,1-.95,4.48l-3.82,11A12.5,12.5,0,0,0,31,14Z"/></g></svg>
            {% endif %}
            {% if name == "x" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#000"><path d="m22.57 17.89 10.05-11.68h-2.38l-8.73 10.14-6.97-10.14h-8.04l10.54 15.34-10.54 12.25h2.38l9.22-10.71 7.36 10.71h8.04l-10.93-15.91zm-3.26 3.79-1.07-1.53-8.5-12.15h3.66l6.86 9.81 1.07 1.53 8.91 12.75h-3.66l-7.27-10.41z"/></g></svg>
            {% endif %}
            {% if name == "xing" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="#005a5f"><path d="M9.56,10.93a.65.65,0,0,0-.58.28.61.61,0,0,0,0,.64l2.93,5.07a0,0,0,0,1,0,0l-4.58,8.1a.69.69,0,0,0,0,.68.63.63,0,0,0,.55.3h4.34a1.31,1.31,0,0,0,1.16-.85l4.68-8.26-3-5.19a1.34,1.34,0,0,0-1.22-.8Z"/></g><g class="color3" fill="#cfdc00"><path d="m27.73 5a1.29 1.29 0 0 0-1.16 0.82s-9.32 16.53-9.57 17.08l6.14 11.28a1.37 1.37 0 0 0 1.16 0.82h4.32a0.64 0.64 0 0 0 0.58-0.28 0.67 0.67 0 0 0 0-0.66l-6.1-11.15 9.57-16.97a0.67 0.67 0 0 0 0-0.66 0.65 0.65 0 0 0-0.57-0.28z"/></g></svg>
            {% endif %}
            {% if name == "youtube" %}
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g class="color1" fill="red"><path d="m35.3 12.2c-0.4-1.4-1.4-2.5-2.8-2.8-2.5-0.7-12.5-0.7-12.5-0.7s-10 0-12.5 0.7c-1.4 0.4-2.5 1.5-2.8 2.8-0.5 2.6-0.7 5.2-0.7 7.8s0.2 5.2 0.7 7.8c0.4 1.4 1.4 2.5 2.8 2.8 2.5 0.7 12.5 0.7 12.5 0.7s10 0 12.5-0.7c1.4-0.4 2.5-1.5 2.8-2.8 0.5-2.6 0.7-5.2 0.7-7.8s-0.2-5.2-0.7-7.8zm-18.6 12.6v-9.5l8.4 4.8-8.4 4.7z"/></g></svg>
            {% endif %}
        </span>
    {% endapply %}
{% endblock %}

