/*
FreeTheme 'One' theme variables
==================================================
Contains new variables specific to the theme.
*/

// $app-css-relative-asset-path: '../../' + $theme-id + '/assets' !default;
$app-css-relative-asset-path: "../assets" !default;
