{{ 'freeThemeOne.copyright'|trans({'%date%': 'now'|date('Y'), '%shopname%': config('core.basicInformation.shopName')})|sw_sanitize }}{% if hint %} Theme by <a href="https://shopware-free-theme.de/" title="Shopware Free Theme by TC-Innovations" rel=\"dofollow noopener\" target=\"_blank\">TC-Innovations</a>{% endif %}
